.portfolio-section__container
  .portfolio-section__row
    .portfolio-section__title
      h2(data-heading="portfolio").portfolio-section__heading Latest Works
  //- portfolio filter start
  .portfolio-section__row
    #portfolio-filter.portfolio-filter
      span.portfolio-filter__item.portfolio-filter__item--active(data-target="all") all
      span.portfolio-filter__item(data-target="web-application") web application
      span.portfolio-filter__item(data-target="photoshop") photoshop
      span.portfolio-filter__item(data-target="mobile-app") mobile app
      span.portfolio-filter__item(data-target="e-commerce") e-commerce
  //- portfolio filter end

  //- portfolio items start
  #portfolio-items.portfolio-section__row.portfolio-items
    //- portfolio item start
    .portfolio-item(data-category="web-application")
      .portfolio-item__inner
        .portfolio-item__img
          img(
            src="images/portfolio/thumb/project-1.png",
            alt="portfolio image",
            data-screenshots="images/portfolio/large/project-1/1.png, images/portfolio/large/project-1/2.png, images/portfolio/large/project-1/3.png, images/portfolio/large/project-1/4.png, images/portfolio/large/project-1/5.png, images/portfolio/large/project-1/6.png"
          ).portfolio-item__image
          //- view project btn
          span.portfolio-item__view-project view project
        p.portfolio-item__title personal portfolio
        //- portfolio item details start
        .portfolio-details
          .portfolio-details__row
            .portfolio-details__description
              h3.portfolio-details__h3 Project Brief: 
              p.portfolio-details__paragraph Adipisicing consectetur dolore excepturi beatae nihil Dolorem officiis id similique consequatur aliquam Omnis nesciunt numquam accusamus pariatur ut ratione consectetur Ullam facere autem a quo omnis. Quod maiores aut facere!
            .portfolio-info
              h3.portfolio-info__h3 Project info
              ul.portfolio-info__ul
                li.portfolio-info__li Date - 
                  span.portfolio-info__span 2020
                li.portfolio-info__li Clien - 
                  span.portfolio-info__span xyz
                li.portfolio-info__li Tools - 
                  span.portfolio-info__span html, css, javascript
                li.portfolio-info__li Web - 
                  span.portfolio-info__span
                    a(href="www.dominian.com").portfolio-info__enlace www.dominian.com
        //- portfolio item details end
    //- portfolio item end
    //- portfolio item start
    .portfolio-item(data-category="web-application")
      .portfolio-item__inner
        .portfolio-item__img
          img(
            src="images/portfolio/thumb/project-2.png",
            alt="portfolio image",
            data-screenshots="images/portfolio/large/project-2/1.png, images/portfolio/large/project-2/2.png"
          ).portfolio-item__image
          //- view project btn
          span.portfolio-item__view-project view project
        p.portfolio-item__title wedding couple
        //- portfolio item details start
        .portfolio-details
          .portfolio-details__row
            .portfolio-details__description
              h3.portfolio-details__h3 Project Brief: 
              p.portfolio-details__paragraph Adipisicing consectetur dolore excepturi beatae nihil Dolorem officiis id similique consequatur aliquam Omnis nesciunt numquam accusamus pariatur ut ratione consectetur Ullam facere autem a quo omnis. Quod maiores aut facere!
            .portfolio-info
              h3.portfolio-info__h3 Project info
              ul.portfolio-info__ul
                li.portfolio-info__li Date - 
                  span.portfolio-info__span 2020
                li.portfolio-info__li Clien - 
                  span.portfolio-info__span xyz
                li.portfolio-info__li Tools - 
                  span.portfolio-info__span html, css, jQuery
                li.portfolio-info__li Web - 
                  span.portfolio-info__span
                    a(href="www.dominian.com").portfolio-info__enlace www.dominian.com
        //- portfolio item details end
    //- portfolio item end
    //- portfolio item start
    .portfolio-item(data-category="e-commerce")
      .portfolio-item__inner
        .portfolio-item__img
          img(
            src="images/portfolio/thumb/project-3.png",
            alt="portfolio image",
            data-screenshots="images/portfolio/large/project-3/1.png, images/portfolio/large/project-3/2.png, images/portfolio/large/project-3/3.png, images/portfolio/large/project-3/4.png, images/portfolio/large/project-3/5.png"
          ).portfolio-item__image
          //- view project btn
          span.portfolio-item__view-project view project
        p.portfolio-item__title product landing page
        //- portfolio item details start
        .portfolio-details
          .portfolio-details__row
            .portfolio-details__description
              h3.portfolio-details__h3 Project Brief: 
              p.portfolio-details__paragraph Adipisicing consectetur dolore excepturi beatae nihil Dolorem officiis id similique consequatur aliquam Omnis nesciunt numquam accusamus pariatur ut ratione consectetur Ullam facere autem a quo omnis. Quod maiores aut facere!
            .portfolio-info
              h3.portfolio-info__h3 Project info
              ul.portfolio-info__ul
                li.portfolio-info__li Date - 
                  span.portfolio-info__span 2020
                li.portfolio-info__li Clien - 
                  span.portfolio-info__span xyz
                li.portfolio-info__li Tools - 
                  span.portfolio-info__span html, css, bootstrap-4
                li.portfolio-info__li Web - 
                  span.portfolio-info__span
                    a(href="www.dominian.com").portfolio-info__enlace www.dominian.com
        //- portfolio item details end
    //- portfolio item end
    //- portfolio item start
    .portfolio-item(data-category="web-application")
      .portfolio-item__inner
        .portfolio-item__img
          img(
            src="images/portfolio/thumb/project-4.png",
            alt="portfolio image",
            data-screenshots="images/portfolio/large/project-4/1.png"
          ).portfolio-item__image
          //- view project btn
          span.portfolio-item__view-project view project
        p.portfolio-item__title personal portfolio
        //- portfolio item details start
        .portfolio-details
          .portfolio-details__row
            .portfolio-details__description
              h3.portfolio-details__h3 Project Brief: 
              p.portfolio-details__paragraph Adipisicing consectetur dolore excepturi beatae nihil Dolorem officiis id similique consequatur aliquam Omnis nesciunt numquam accusamus pariatur ut ratione consectetur Ullam facere autem a quo omnis. Quod maiores aut facere!
            .portfolio-info
              h3.portfolio-info__h3 Project info
              ul.portfolio-info__ul
                li.portfolio-info__li Date - 
                  span.portfolio-info__span 2020
                li.portfolio-info__li Clien - 
                  span.portfolio-info__span xyz
                li.portfolio-info__li Tools - 
                  span.portfolio-info__span html, css, jQuery
                li.portfolio-info__li Web - 
                  span.portfolio-info__span
                    a(href="www.dominian.com").portfolio-info__enlace www.dominian.com
        //- portfolio item details end
    //- portfolio item end
    //- portfolio item start
    .portfolio-item(data-category="web-application")
      .portfolio-item__inner
        .portfolio-item__img
          img(
            src="images/portfolio/thumb/project-5.png",
            alt="portfolio image",
            data-screenshots="images/portfolio/large/project-5/1.png"
          ).portfolio-item__image
          //- view project btn
          span.portfolio-item__view-project view project
        p.portfolio-item__title fitness & gym
        //- portfolio item details start
        .portfolio-details
          .portfolio-details__row
            .portfolio-details__description
              h3.portfolio-details__h3 Project Brief: 
              p.portfolio-details__paragraph Adipisicing consectetur dolore excepturi beatae nihil Dolorem officiis id similique consequatur aliquam Omnis nesciunt numquam accusamus pariatur ut ratione consectetur Ullam facere autem a quo omnis. Quod maiores aut facere!
            .portfolio-info
              h3.portfolio-info__h3 Project info
              ul.portfolio-info__ul
                li.portfolio-info__li Date - 
                  span.portfolio-info__span 2020
                li.portfolio-info__li Clien - 
                  span.portfolio-info__span xyz
                li.portfolio-info__li Tools - 
                  span.portfolio-info__span html, css, jQuery
                li.portfolio-info__li Web - 
                  span.portfolio-info__span
                    a(href="www.dominian.com").portfolio-info__enlace www.dominian.com
        //- portfolio item details end
    //- portfolio item end
    //- portfolio item start
    .portfolio-item(data-category="web-application")
      .portfolio-item__inner
        .portfolio-item__img
          img(
            src="images/portfolio/thumb/project-6.png",
            alt="portfolio image",
            data-screenshots="images/portfolio/large/project-6/1.png, images/portfolio/large/project-6/2.png,images/portfolio/large/project-6/3.png"
          ).portfolio-item__image
          //- view project btn
          span.portfolio-item__view-project view project
        p.portfolio-item__title quiz application
        //- portfolio item details start
        .portfolio-details
          .portfolio-details__row
            .portfolio-details__description
              h3.portfolio-details__h3 Project Brief: 
              p.portfolio-details__paragraph Adipisicing consectetur dolore excepturi beatae nihil Dolorem officiis id similique consequatur aliquam Omnis nesciunt numquam accusamus pariatur ut ratione consectetur Ullam facere autem a quo omnis. Quod maiores aut facere!
            .portfolio-info
              h3.portfolio-info__h3 Project info
              ul.portfolio-info__ul
                li.portfolio-info__li Date - 
                  span.portfolio-info__span 2020
                li.portfolio-info__li Clien - 
                  span.portfolio-info__span xyz
                li.portfolio-info__li Tools - 
                  span.portfolio-info__span html, css, jQuery
                li.portfolio-info__li Web - 
                  span.portfolio-info__span
                    a(href="www.dominian.com").portfolio-info__enlace www.dominian.com
        //- portfolio item details end
    //- portfolio item end
    //- portfolio item start
    .portfolio-item(data-category="mobile-app")
      .portfolio-item__inner
        .portfolio-item__img
          img(
            src="images/portfolio/thumb/project-7.png",
            alt="portfolio image",
            data-screenshots="images/portfolio/large/project-7/1.png, images/portfolio/large/project-7/2.png"
          ).portfolio-item__image
          //- view project btn
          span.portfolio-item__view-project view project
        p.portfolio-item__title xyz app
        //- portfolio item details start
        .portfolio-details
          .portfolio-details__row
            .portfolio-details__description
              h3.portfolio-details__h3 Project Brief: 
              p.portfolio-details__paragraph Adipisicing consectetur dolore excepturi beatae nihil Dolorem officiis id similique consequatur aliquam Omnis nesciunt numquam accusamus pariatur ut ratione consectetur Ullam facere autem a quo omnis. Quod maiores aut facere!
            .portfolio-info
              h3.portfolio-info__h3 Project info
              ul.portfolio-info__ul
                li.portfolio-info__li Date - 
                  span.portfolio-info__span 2020
                li.portfolio-info__li Clien - 
                  span.portfolio-info__span xyz
                li.portfolio-info__li Tools - 
                  span.portfolio-info__span java, android
                li.portfolio-info__li Web - 
                  span.portfolio-info__span
                    a(href="www.dominian.com").portfolio-info__enlace Play Store
        //- portfolio item details end
    //- portfolio item end
    //- portfolio item start
    .portfolio-item(data-category="photoshop")
      .portfolio-item__inner
        .portfolio-item__img
          img(
            src="images/portfolio/thumb/project-8.png",
            alt="portfolio image",
            data-screenshots="images/portfolio/large/project-8/1.png, images/portfolio/large/project-8/2.png"
          ).portfolio-item__image
          //- view project btn
          span.portfolio-item__view-project view project
        p.portfolio-item__title personal portfolio
        //- portfolio item details start
        //- portfolio item has no details
        //- portfolio item details end
    //- portfolio item end
  //- portfolio items end
